<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.jjx.filters.LoginFilter</filter-class>
    </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/updateFilm.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/showAll.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/addFilm.jsp</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/film</url-pattern>
  </filter-mapping>

    <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.jjx.servlets.LoginServlet</servlet-class>
    
  </servlet>
  <servlet>
    <servlet-name>FilmServlet</servlet-name>
    <servlet-class>com.jjx.servlets.FilmServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>FilmServlet</servlet-name>
    <url-pattern>/film</url-pattern>
  </servlet-mapping>

</web-app>
